
.aaron{
  padding-right: 300px;
}
/*header{
    background: url("https://static1.squarespace.com/static/576f052f15d5dbd84d9b8349/576f2d6d46c3c49b5d0b9862/576f350af5e231ddf3c6449e/1466905867342/aaron+5.jpeg?format=750w") no-repeat fixed;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:cover; ;

}*/

body{
  background: url("CCF23102016.jpg") no-repeat fixed;
  background-repeat: no-repeat fixed;

  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  background-size:cover; ;


}
.centered-pills{text-align: center;}
.centered-pills ul.nav-pills{display: inline-block;}
.centered-pills li{ display: inline;}
.centered-pills a{float:left;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:rgb(255,266,255);

      background-color:#FDB813;
    }
 .nav-pills>li>a:hover{
  color: rgb(255,255,255);
  background-color: #003366;
}
.nav-pills>li>a{
  color:rgb(255,255,255);
}
