div.aaron {
  color: rgb(255,255,255);
  background-image: url("https://static1.squarespace.com/static/576f052f15d5dbd84d9b8349/576f2d6d46c3c49b5d0b9862/576f350af5e231ddf3c6449e/1466905867342/aaron+5.jpeg?format=750w");

  padding-bottom: 450px;


}
div.aaron h1{
  text-align: center;
}
